<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div id="tasks">
            <div>
                <h1>Tasks</h1>
                <ol class="list-group">
                    <li class="list-group-item" v-for="task in tasks | inProcess">
                        <span @dblclick="editTask(task)">{{task.body}}</span>
                        <button class="close" @click="removeTask(task)"><span>&times</span></button>
                        <button class="close" @click="completeTask(task)"><span>&#10004;</span></button>
                    </li>
                </ol>
            </div>
            <form @submit.prevent="addTask">
                <div class="form-group">
                    <input v-model="newTask" v-el:new-task class="form-control" placeholder="New task">
                </div>
                <button class="btn btn-primary">Add task</button>
            </form>
            <div v-if="completions.length">
                <h2>Completed ({{completions.length}})</h2>
                <ol class="list-group">
                    <li class="list-group-item" v-for="task in tasks | filterBy true in 'completed'">
                        {{task.body}}
                    </li>
                </ol>
            </div>
            <pre>{{$data | json}}</pre>
        </div>
    </div>

    <script src="http://cdn.jsdelivr.net/vue/1.0.26/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>